<h2>My Hero</h2>
<ul class='heroes'>
	<li *ngFor="let h of myheroes">
		<a routerLink="/details/{{h.id}}">
			<span class="badge"> {{h.id}}</span>{{h.name}}
		</a>
		<button class="delete" title="delete hero"
  			(click)="delete(h)">x</button>
		
  	</li>

</ul>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <br>
  <br>
  <label>Hero age:
  	<input #heroAge  />
  </label>
  <br>
  <br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value,heroAge.value); heroName.value=''; heroAge.value=''">
    add
  </button>
</div>