<!--The content below is only a placeholder and can be replaced.-->

  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink='/dashboard'>Dashboard</a>
    
    <a routerLink='/myhero'>Hero</a>
  </nav>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
 
