<div *ngIf="myhero">

<h2> {{ myhero.name | uppercase }} Details </h2>

<div><span>id: </span>{{ myhero.id }}</div>
<div>
	<label> name:
		<input [(ngModel)]="myhero.name" placeholder="name">
	</label>
	<br>
	<label> age:
		<input [(ngModel)]="myhero.age" placeholder="1">
	</label>
</div>

</div>
<button (click)="save()">save</button>

